.app {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);
  --blue-accent: #52d1dc;
  --feldrau: #475b5a;
  --cadet-gray: #a3a9aa;
  --french-gray: rgb(187, 187, 191);
  --french-gray-alpha: rgba(var(--french-gray), 0.08);
  --battleship-gray: #8d8e8e;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 25% 1fr 20px;
  justify-items: center;

}

.header {
  width: 100%;
  text-align: center;
  position: fixed;
  grid-row: 1 /2;
  background-color: white;
}

.main {
  grid-row: 2 / 3;
}

.header h1 {
  padding: 1rem;
}

/*Navigation*/
.nav ul {
  min-width: 75%;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 1rem 0;
}

.nav ul li {
  list-style-type: none;
  padding: .65rem;
  margin: 0 .30rem;
  border-radius: 50px
}

.nav ul li:nth-child(1) {
  background-color: var(--feldrau);
  color: white;
}

.nav ul li:nth-child(2) {
  background-color: var(--blue-accent);
}

.nav ul li:nth-child(3) {
  background-color: var(--cadet-gray);
}

.nav ul li:nth-child(4) {
  background-color: var(--battleship-gray);
  color: white;
}

/*Footer*/
.footer {
  grid-row: 3/4;
}

/*Homepage*/

.categories {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.categories li {
  list-style-type: none;
  display: flex;
  align-items: center;
  font-size: larger;
  padding: 10px;
}

/*Parallax*/
.parallax,
.homepageCopy {
  height: 100vh;
}


/*Small Screen*/
@media screen and (max-width: 700px) {
  .app {
    height: 97vh;
  }

  .nav ul {
    justify-content: center;
  }

}


@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}



/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}